.main {
  display: flex;
  background-color: #f7f7f9;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.ContentContainer {
  width: 90%;
}
.ChildContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95.5%;
  margin-top: 23px;
  gap: 23px;
}
