@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa85;
  border-radius: 10px;
  height: 1px;
}

.css-hxkk01-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #eaeaed;
  border-radius: 8px;
}
.css-1tfgnre-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #eaeaed;
  border-radius: 8px;
}
.css-y1n7f2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #787eff;
}

.css-y1n7f2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected span {
  color: white;
}
